{% extends 'base.html.twig' %}
{% block body %}
<h1>Classes Options</h1>
<h2 class="center-item">
    <button class="btn btn-secondary" onclick="toggleForm()">
    {% if editMode %}
        Modifier l'option
    {% else %}
        Nouvelle option
    {% endif %}
    </button>
</h2>
<div class="center-item" id="filter-form">
{{ form_start(formClasseOption) }}  
    <div class="form-1 form-src center-item">
        {# name #}
        <div class=""> 
            {{ form_row(formClasseOption.name,{'attr': { 'placeholder': "Nom", 'class': "form-control"}, 'label' : "Nom"})}}
        </div>
        {# description #}
        <div class=""> 
            {{ form_row(formClasseOption.description,{'attr': {'class': "form-control"}, 'label' : "Description"})}}  
        </div>
        {# level #}
        <div class="">   
            {{ form_row(formClasseOption.level,{'attr': {'class': "form-control"}, 'label' : "Niveau"})}}
        </div> 
        {# classe #}
        <div class="">   
            {{ form_row(formClasseOption.idClass,{'attr': {'class': "form-control"}, 'label' : "Classe"})}}
        </div>           
        {# submit #}
        <div class="">   
            <button type="submit" class="btn btn-success" >
                    Ajouter
            </button>
        </div>
    </div>
    {{ form_end(formClasseOption) }}
</div>
{% if not editMode %}
<div>
    <table class="table table-center table-XL table-font">
        <thead>
            <tr>
                <th colspan="5">Listes des options ({{ classeOptions|length }})</th>
            </tr>
            <tr>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Classe</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for option in classeOptions %}
            <tr>
                <td><strong>{{ option.name }}</strong></td>
                <td>{{ option.level }}</td>
                <td>{{ option.description }}</td>
                <td>{{ option.class_name }}</td>
                <td class="inline-content">
                    <div class="">
                        <a href="{{ path('class.option', { id: option.id })}}" class="button btn btn-primary" >
                        <strong>Modifier</strong>
                        </a>               
                    </div>
                    <form method="post" class="">
                        <div class="">   
                            <input type="hidden" name="option_del" value="{{ option.id }}" />
                        </div>
                        <div class="">   
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}