{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Creature Compendium</h1>
<section class="sidenav" id="side_menu">
	<button class="dropdown-btn top-link">
        <a href="#top">Top</a>
    </button>
    <div class="dropdown-container top-link">
        <a href="#"></a>
    </div>
{% for letter in firstLetterList %}
	<button class="dropdown-btn">
        <a href="#{{ letter }}">{{ letter }}</a>
    </button>
	<div class="dropdown-container">
        <a href="#"></a>
    </div>
{% endfor %}
</section>
<div class="btn-list">
	{% for type in types %}
		<a href="{{ path('creature.compendium.type', { id: type.id }) }}" class="button btn btn-success">{{ type.name }}</a>
	{% endfor %}
</div>
<div class="center-item">
	<button class="btn btn-secondary" onclick="toggleForm()">Filtres</button>
</div>
<div>
	<form method="post" id="filter-form" class="form-1 filter-form">
		<h2>Options</h2>
		<div class="form-group-h chk-box">
			<label><strong>Types</strong></label>
			{% for type in types %}
			<div class="chk-opt">
				<input type="checkbox" id="{{ type.id }}" name="creatype[]" value="{{ type.id }}" class="form-control" checked>
    			<label for="{{ type.id }}">{{ type.name }}</label>
			</div>
			{% endfor %}
		</div>
		{# <div class="form-group-h chk-box">
			<label><strong>Tailles</strong></label>
			{% for size in sizes %}
			<div class="chk-opt">
				<input type="checkbox" id="{{ size.id }}" name="creasize[]" value="{{ size.id }}" class="form-control" checked>
    			<label for="{{ size.id }}">{{ size.name }}</label>
			</div>
			{% endfor %}
		</div> #}
		<div class="form-group-h chk-box">
			<label><strong>Sources</strong></label>
			{% for source in sources %}
			<div class="chk-opt">
				<input type="checkbox" id="{{ source.id }}" name="creasource[]" value="{{ source.id }}" class="form-control" checked>
    			<label for="{{ source.id }}" title="{{ source.name }}">{{ source.label }}</label>
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Appliquer</button>
		</div>
	</form>
</div>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endif %}
<div>
    <table class="table table-center col-4 table-font">
        <thead>
            <tr>
                <th colspan="6">Listes des créatures ({{ creatures|length }})</th>
            </tr>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Taille</th>
                <th>CR</th>
                <th>Alignement</th>
            </tr>
        </thead>
        <tbody>
		{% set link = '' %}
		{% set newFirstLetter = false %}
        {% for creature in creatures %}
			{% if link != creature.name|first %}
				{% set link = creature.name|first %}
				{% set newFirstLetter = true %}
			{% endif %}
            <tr>
                <td {% if newFirstLetter %}
					id="{{ link }}" 
					{% set newFirstLetter = false %}
				{% endif %}
				data-label=Nom title="{{ creature.source }} {{ creature.page }}"><strong>{{ creature.name }}</strong></td>
                <td data-label=Type>{{ creature.type }}</td>
                <td data-label=Taille>{{ creature.size }}</td>
                <td data-label=CR title="{{ creature.challenge }}">{{ challengeXP[creature.challenge] }}</td>
                <td data-label=Alignement>{{ creature.alignment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}