{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Tailles</h1>
<h2 class="center-item">
    <button class="btn btn-secondary" onclick="toggleForm()">
    {% if editMode %}
        Modifier la taille
    {% else %}
        Nouvelle Taille
    {% endif %}
    </button>
</h2>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message|raw }}
	</div>
{% endif %}
<div class="center-item" id="filter-form">
    {{ form_start(formSize) }}
    <div class="form-1 form-flex size-XL" style="margin:auto">
        <div class="frm-input"> 
            {{ form_row(formSize.name,{'attr': { 'placeholder': "Nom", 'class': "form-control"}, 'label' : "Nom"})}}
        </div>
        <div class="frm-input"> 
            {{ form_row(formSize.hitDice, {'attr': {'placeholder': "Label", 'class': "form-control"}, 'label' : "Dés de vie"})}}
        </div>
        <div class="frm-input">   
            {{ form_row(formSize.squareSpace, {'attr': {'placeholder': "Label", 'class': "form-control"}, 'label' : "Largeur"})}}
        </div>
        <div class="frm-ok">   
            <button type="submit" class="btn btn-success" >
                {% if editMode %}
                Sauver
                {% else %}
                Ajouter
                {% endif %}
            </button>
        </div>
    </div>
    {{ form_end(formSize) }}
</div>
{% if not editMode %}
<div>
    <table class="table table-center col-4 table-font">
        <thead>
            <tr>
                <th colspan="4">Listes des tailles ({{ sizes|length }})</th>
            </tr>
            <tr>
                <th>Taille</th>
                <th>Dés de vie</th>
                <th>Largeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td><strong>{{ size.name }}</strong></td>
                <td>{{ size.hitDice }}</td>
                <td>{{ size.squareSpace }}</td>
                <td class="inline-content">
                    <div class="">
                        <a href="{{ path('size', { id: size.id })}}" class="button btn btn-primary" >
                        <strong>Modifier</strong>
                        </a>               
                    </div>
                    <form method="post" class="">
                        <div class="">   
                            <input type="hidden" name="size_del" value="{{ size.id }}" />
                        </div>
                        <div class="">   
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}