{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Tailles de créature</h1>
<div>
    <table class="table table-center col-4 table-font">
        <thead>
            <tr>
                <th colspan="4">Listes des tailles de créatures ({{ sizes|length }})</th>
            </tr>
            <tr>
                <th>Taille</th>
                <th>Dés de vie</th>
                <th>Largeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td><strong>{{ size.name }}</strong></td>
                <td>{{ size.hitdice }}</td>
                <td>{{ size.squareSpace }}</td>
                <td class="inline-content">
                    <div class="">
                        <a href="{{ path('size', { id: size.id })}}" class="button btn btn-primary" >
                        <strong>Modifier</strong>
                        </a>               
                    </div>
                    <form method="post" class="">
                        <div class="">   
                            <input type="hidden" name="size_del" value="{{ size.id }}" />
                        </div>
                        <div class="">   
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<h2 class="center-item">Editeur de taille de créature</h2>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message|raw }}
	</div>
{% endif %}
<div class="center-item">
    <form method="post" class="form-1 form-sizes">
        <div class="form-group sz-name center-item">   
            <label><strong>Taille</strong></label>  
            <input type="text" name="size_name" required class="form-control" />
        </div>
        <div class="form-group sz-hd center-item">   
            <label><strong>Dés de vie</strong></label>  
            <input type="text" name="size_hit_dice" required class="form-control" />
        </div>
        <div class="form-group sz-face center-item">   
            <label><strong>Largeur</strong></label>  
            <input type="text" name="size_space" required class="form-control" />
        </div>
        <div class="form-group sz-submit center-item">   
            <input type="submit" value="Sauver" class="btn btn-success" />
        </div>
    </form>
</div>
{% endblock %}