{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Taille: {{ size.name }}</h1>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endif %}
<div>
    <div class="center-item">
        <form method="post" class="form-1 form-sizes">
            <div class="form-group sz-name center-item">   
                <label><strong>Taille</strong></label>  
                <input type="text" name="size_name" required class="form-control" value="{{ size.name }}" />
            </div>
            <div class="form-group sz-hd center-item">   
                <label><strong>Dés de vie</strong></label>  
                <input type="text" name="size_hit_dice" required class="form-control" value="{{ size.hitDice }}" />
            </div>
            <div class="form-group sz-face center-item">   
                <label><strong>Largeur</strong></label>  
                <input type="text" name="size_space" required class="form-control" value="{{ size.squareSpace }}" />
            </div>
            <div class="form-group sz-submit center-item">   
                <input type="submit" value="Sauver" class="btn btn-success" />
            </div>
        </form>
    </div>
    {# <div class="form-1">
        {{ form_start(formSize) }}
        <div class="form-group"> 
            {{ form_row(formSize.name, { 'attr': {'class': 'form-control'}, 'label': 'Taille'}) }}
        </div> 
        <div class="form-group"> 
            {{ form_row(formSize.hitDice, { 'attr': {'class': 'form-control'}, 'label': 'Dés de vie'}) }}
        </div>
        <div class="form-group"> 
            {{ form_row(formSize.squareSpace, { 'attr': {'class': 'form-control'}, 'label': 'Largeur'}) }}
        </div>
        {{ form_end(formSize) }}
    </div> #}
</div>
{% endblock %}