{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Sources</h1>
<h2 class="center-item">
    <button class="btn btn-secondary" onclick="toggleForm()">
    {% if editMode %}
        Modifier la source
    {% else %}
        Nouvelle source
    {% endif %}
    </button>
</h2>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message|raw }}
	</div>
{% endif %}
<div class="center-item" id="filter-form">
{{ form_start(formSource) }}  
    <div class="form-1 form-flex size-XL">
        {# name #}
        <div class="frm-input"> 
            {{ form_row(formSource.name,{'attr': { 'placeholder': "Nom", 'class': "form-control"}, 'label' : "Nom"})}}
        </div>
        {# label #}
        <div class="frm-input"> 
            {{ form_row(formSource.label,{'attr': {'class': "form-control"}, 'label' : "Label"})}}  
        </div>
        {# official #}
        <div class="frm-radio">   
            {{ form_row(formSource.official,{'attr': {'class': "form-control"}, 'label' : "Officiel"})}}
        </div>
        {# setting #}
        <div class="frm-select">   
            {{ form_row(formSource.idSetting,{'attr': {'class': "form-control"}, 'label' : "Campagne"})}}
        </div>  
        {# submit #}
        <div class="frm-ok">   
            <button type="submit" class="btn btn-success" >
                {% if editMode %}
                    Sauver
                {% else %}
                    Ajouter
                {% endif %}
            </button>
        </div>
    </div>
    {{ form_end(formSource) }}
</div>
{% if not editMode %}
<div>
    <table class="table table-center col-4 table-font">
        <thead>
            <tr>
                <th colspan="5">Listes des sources ({{ sources|length }})</th>
            </tr>
            <tr>
                <th>Source</th>
                <th>Label</th>
                <th>Officiel</th>
                <th>Campagne</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td><strong>{{ source.name }}</strong></td>
                <td>{{ source.label }}</td>
                <td>
                {% if source.official %}
                    Oui
                {% else %}
                    Non
                {% endif %}
                </td>
                <td>{{ source.idSetting.name }}</td>
                <td class="inline-content">
                    <div class="">
                        <a href="{{ path('source', { id: source.id })}}" class="button btn btn-primary" >
                        <strong>Modifier</strong>
                        </a>               
                    </div>
                    <form method="post" class="">
                        <div class="">   
                            <input type="hidden" name="source_del" value="{{ source.id }}" />
                        </div>
                        <div class="">   
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}