{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-item">Source: {{ source.name }}</h1>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endif %}
<div>
    <div class="center-item">
        <form method="post" class="form-1 form-src">
            <div class="form-group src-name center-item">   
                <label><strong>Source</strong></label>  
                <input type="text" name="src_name" required class="form-control" value="{{ source.name }}" />
            </div>
            <div class="form-group src-lbl center-item">   
                <label><strong>Label</strong></label>  
                <input type="text" name="src_label" required class="form-control" value="{{ source.label }}" />
            </div>
            <div class="form-group src-submit center-item">   
                <input type="submit" value="Sauver" class="btn btn-success" />
            </div>
        </form>
    </div>
    {# <div class="form-1">
        {{ form_start(formSize) }}
        <div class="form-group"> 
            {{ form_row(formSize.name, { 'attr': {'class': 'form-control'}, 'label': 'Taille'}) }}
        </div> 
        <div class="form-group"> 
            {{ form_row(formSize.hitDice, { 'attr': {'class': 'form-control'}, 'label': 'Dés de vie'}) }}
        </div>
        <div class="form-group"> 
            {{ form_row(formSize.squareSpace, { 'attr': {'class': 'form-control'}, 'label': 'Largeur'}) }}
        </div>
        {{ form_end(formSize) }}
    </div> #}
</div>
{% endblock %}